body{
    background-image: url("https://media.istockphoto.com/vectors/red-sound-wave-equalizer-vector-design-vector-id1093770298?k=20&m=1093770298&s=612x612&w=0&h=V9_2cEGNRbPc4yDEWJHCBct-zYGD3VA23PO-oXQ0OUM=");
    background-position: center;
    background-size: cover;
    color: rgb(229, 255, 0);
    text-align: center;
    
}